[Desktop Entry]
Type=Application
Name=Roseate
GenericName=Image Viewer
Comment=A fast, memory efficient and fancy image viewer.
Exec=roseate %f
Icon=roseate
Terminal=false
Categories=Rust;Graphics;Viewer;
MimeType=image/jpeg;image/gif;image/png;image/bmp;image/webp;
Keywords=image;view;roseate;picture;gif;jpeg;